<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet"><title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <h1>Tic Tac Toe</h1>
        <h3></h3>
        <div class="gamecontainer">
            <div class="cell" id="1"><span class="boxtext"></span></div>
            <div class="cell" id="2"><span class="boxtext"></span></div>
            <div class="cell" id="3"><span class="boxtext"></span></div>
            <div class="cell" id="4"><span class="boxtext"></span></div>
            <div class="cell" id="5"><span class="boxtext"></span></div>
            <div class="cell" id="6"><span class="boxtext"></span></div>
            <div class="cell" id="7"><span class="boxtext"></span></div>
            <div class="cell" id="8"><span class="boxtext"></span></div>
            <div class="cell" id="9"><span class="boxtext"></span></div>
        </div>
        <button>Restart</button>
        <div class="foter">Developed by Om</div>
    </div>
    <script src="/one.js"></script>
</body>
</html>
